@charset "UTF-8";
.content-header .tit-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.content-header .tit-box h1 {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #555;
}
.content-header .tit-box .create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #007bff;
}
.content-header .tit-box .create-btn p {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
}
.content-header .tit-box .back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #ccc;
}
.content-header .tit-box .back-btn p {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #555;
}
.content-header .desc-box {
  display: block;
  width: 100%;
  margin-top: 15px;
}
.content-header .desc-box p {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #555;
}

.content {
  margin-top: 20px;
}
.content .visible-tit {
  display: block;
  margin-left: 3px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #555;
}
@media screen and (max-width: 600px) {
  .content #visibleTable_filter {
    margin-top: 0;
  }
}
.content #visibleTable {
  width: initial !important;
  margin: 0;
}
.content #visibleTable th:nth-child(1), .content #visibleTable td:nth-child(1) {
  width: 220px !important;
  min-width: 220px;
}
.content #visibleTable th:nth-child(2), .content #visibleTable td:nth-child(2) {
  width: 70px !important;
  min-width: 70px;
}
.content #visibleTable th:nth-child(2).is-first, .content #visibleTable td:nth-child(2).is-first {
  background-color: #1a277e;
}
.content #visibleTable th:nth-child(2).is-first .movie-box, .content #visibleTable td:nth-child(2).is-first .movie-box {
  border: solid 1px #ccc;
}
@media screen and (max-width: 500px) {
  .content #visibleTable th:nth-child(2), .content #visibleTable td:nth-child(2) {
    width: 50px !important;
    min-width: 50px;
  }
}
.content #visibleTable th:nth-child(2) .movie-box, .content #visibleTable td:nth-child(2) .movie-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #1a277e;
}
@media screen and (max-width: 500px) {
  .content #visibleTable th:nth-child(2) .movie-box, .content #visibleTable td:nth-child(2) .movie-box {
    margin-left: 10px;
  }
}
.content #visibleTable th:nth-child(2) .movie-box .movie-icon, .content #visibleTable td:nth-child(2) .movie-box .movie-icon {
  display: block;
  width: 16px;
}
.content #visibleTable th:nth-child(3), .content #visibleTable td:nth-child(3) {
  width: 140px !important;
  min-width: 140px;
}
.content #visibleTable th:nth-child(4), .content #visibleTable td:nth-child(4) {
  width: 60px !important;
  min-width: 160px;
}
.content #visibleTable th {
  padding: 0.7em 1em;
  font-size: 14px;
  vertical-align: middle;
  color: #555;
}
.content #visibleTable td {
  padding: 0.5em 1em;
  font-size: 13px;
  vertical-align: middle;
  color: #555;
}
.content #visibleTable td.is-error {
  color: #f00;
}
.content #visibleTable td .image {
  display: block;
  width: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.content #visibleTable td .image:hover {
  opacity: 0.5;
}
.content #visibleTable td .toggle-box {
  margin-top: 7px;
}
.content #visibleTable td .toggle-box .toggle-label {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  box-sizing: content-box;
  margin: 0;
  border: solid 2px #ced4da;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.content #visibleTable td .toggle-box .toggle-label::after {
  position: absolute;
  top: 50%;
  left: 5px;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ced4da;
  transform: translateY(-50%);
  transition: left 0.2s ease-in-out;
}
.content #visibleTable td .toggle-box .toggle-label:has(:checked)::after {
  left: 20px;
  background-color: #4bd865;
}
.content #visibleTable td .toggle-box .toggle-label input {
  display: none;
}
.content #visibleTable td:last-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content #visibleTable td:last-of-type a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  padding: 0;
}
@media screen and (max-width: 700px) {
  .content #visibleTable td:last-of-type a {
    width: 25px;
  }
}
.content #visibleTable td:last-of-type a:nth-of-type(1) i {
  font-size: 13px;
}
.content #visibleTable td:last-of-type a:nth-of-type(2) {
  margin-left: 0.5em;
}
@media screen and (max-width: 700px) {
  .content #visibleTable td:last-of-type a:nth-of-type(2) {
    margin-left: 0.3em;
  }
}
.content #visibleTable td:last-of-type a:nth-of-type(2) i {
  font-size: 14px;
  color: #444;
}
.content #visibleTable td:last-of-type form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  padding: 0;
  margin-left: 0.5em;
}
.content #visibleTable td:last-of-type form.first-set-btn {
  width: fit-content;
  aspect-ratio: initial;
  height: 30px;
}
@media screen and (max-width: 700px) {
  .content #visibleTable td:last-of-type form.first-set-btn {
    height: 25px;
  }
}
.content #visibleTable td:last-of-type form.first-set-btn > button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  padding: 0 9px;
  border-color: #ccc;
  border-radius: 0.2rem;
  background-color: #ccc;
  transition: all 0.5s ease-in-out;
}
.content #visibleTable td:last-of-type form.first-set-btn > button:hover {
  border-color: #1a277e;
  background-color: #1a277e;
}
.content #visibleTable td:last-of-type form.first-set-btn > button > p {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.05em;
  white-space: nowrap;
  color: #fff;
}
.content #visibleTable td:last-of-type form.first-reset-btn {
  width: fit-content;
  aspect-ratio: initial;
  height: 30px;
}
@media screen and (max-width: 700px) {
  .content #visibleTable td:last-of-type form.first-reset-btn {
    height: 25px;
  }
}
.content #visibleTable td:last-of-type form.first-reset-btn > button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  padding: 0 9px;
  border-color: #1a277e;
  border-radius: 0.2rem;
  background-color: #1a277e;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.content #visibleTable td:last-of-type form.first-reset-btn > button:hover {
  border-color: #555;
  background-color: #555;
}
.content #visibleTable td:last-of-type form.first-reset-btn > button:hover::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "リセット";
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.05em;
  white-space: nowrap;
  color: #fff;
}
.content #visibleTable td:last-of-type form.first-reset-btn > button:hover > p {
  opacity: 0;
}
.content #visibleTable td:last-of-type form.first-reset-btn > button > p {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 0.05em;
  white-space: nowrap;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 700px) {
  .content #visibleTable td:last-of-type form {
    width: 25px;
    margin-left: 0.3em;
  }
}
.content #visibleTable td:last-of-type form button {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 700px) {
  .content #visibleTable td:last-of-type form button {
    padding: 0;
  }
}
.content #visibleTable td:last-of-type form button i {
  font-size: 12px;
}
.content .note {
  display: block;
  width: 100%;
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #c71f10;
}
.content .border-line {
  display: block;
  width: 80%;
  height: 1px;
  margin: 60px 0 50px;
  background-color: #ddd;
}
@media screen and (max-width: 500px) {
  .content .border-line {
    width: 100%;
    margin: 45px 0 30px;
  }
}
@media screen and (max-width: 600px) {
  .content #movieTable_filter {
    margin-top: 0;
  }
}
.content #movieTable {
  width: initial !important;
  margin: 0;
}
@media screen and (max-width: 1000px) {
  .content #movieTable {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 600px) {
  .content #movieTable {
    margin-bottom: 40px;
  }
}
.content #movieTable th:nth-child(1), .content #movieTable td:nth-child(1) {
  width: 200px !important;
  min-width: 200px;
}
.content #movieTable th:nth-child(2), .content #movieTable td:nth-child(2) {
  width: 70px !important;
  min-width: 70px;
}
@media screen and (max-width: 500px) {
  .content #movieTable th:nth-child(2), .content #movieTable td:nth-child(2) {
    width: 50px !important;
    min-width: 50px;
  }
}
.content #movieTable th:nth-child(2) .movie-box, .content #movieTable td:nth-child(2) .movie-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  margin-left: 20px;
  border-radius: 50%;
  background-color: #ccc;
}
@media screen and (max-width: 500px) {
  .content #movieTable th:nth-child(2) .movie-box, .content #movieTable td:nth-child(2) .movie-box {
    margin-left: 10px;
  }
}
.content #movieTable th:nth-child(2) .movie-box .movie-icon, .content #movieTable td:nth-child(2) .movie-box .movie-icon {
  display: block;
  width: 16px;
}
.content #movieTable th:nth-child(3), .content #movieTable td:nth-child(3) {
  width: 120px !important;
  min-width: 120px;
}
.content #movieTable th:nth-child(4), .content #movieTable td:nth-child(4) {
  width: 110px !important;
  min-width: 110px;
}
.content #movieTable th {
  padding: 0.7em 1em;
  font-size: 14px;
  vertical-align: middle;
  color: #555;
}
.content #movieTable td {
  padding: 0.5em 1em;
  font-size: 13px;
  vertical-align: middle;
  color: #555;
}
.content #movieTable td.is-error {
  color: #f00;
}
.content #movieTable td .image {
  display: block;
  width: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.content #movieTable td .image:hover {
  opacity: 0.5;
}
.content #movieTable td .toggle-box {
  margin-top: 7px;
}
.content #movieTable td .toggle-box .toggle-label {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  box-sizing: content-box;
  margin: 0;
  border: solid 2px #ced4da;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.content #movieTable td .toggle-box .toggle-label::after {
  position: absolute;
  top: 50%;
  left: 5px;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ced4da;
  transform: translateY(-50%);
  transition: left 0.2s ease-in-out;
}
.content #movieTable td .toggle-box .toggle-label:has(:checked)::after {
  left: 20px;
  background-color: #4bd865;
}
.content #movieTable td .toggle-box .toggle-label input {
  display: none;
}
.content #movieTable td:last-of-type {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content #movieTable td:last-of-type a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  padding: 0;
}
@media screen and (max-width: 700px) {
  .content #movieTable td:last-of-type a {
    width: 25px;
  }
}
.content #movieTable td:last-of-type a:nth-of-type(1) i {
  font-size: 13px;
}
.content #movieTable td:last-of-type a:nth-of-type(2) {
  margin-left: 0.5em;
}
@media screen and (max-width: 700px) {
  .content #movieTable td:last-of-type a:nth-of-type(2) {
    margin-left: 0.3em;
  }
}
.content #movieTable td:last-of-type a:nth-of-type(2) i {
  font-size: 14px;
  color: #444;
}
.content #movieTable td:last-of-type form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  padding: 0;
  margin-left: 0.5em;
}
@media screen and (max-width: 700px) {
  .content #movieTable td:last-of-type form {
    width: 25px;
    margin-left: 0.3em;
  }
}
.content #movieTable td:last-of-type form button {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 700px) {
  .content #movieTable td:last-of-type form button {
    padding: 0;
  }
}
.content #movieTable td:last-of-type form button i {
  font-size: 12px;
}
.content form .d-block {
  margin-top: 1.2em;
}
.content form .d-block:first-of-type {
  margin-top: 0;
}
.content form .d-block:first-of-type .input-group.adminlte-invalid-igroup {
  width: fit-content;
}
.content form .d-block.period-box {
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.content form .d-block.period-box .form-group .input-group .bg-gradient-info {
  background: #999 !important;
}
@media screen and (max-width: 450px) {
  .content form .d-block.period-box .form-group .input-group .bg-gradient-info .fa-calendar-alt {
    font-size: 12px;
  }
}
.content form .d-block .form-group {
  margin: 0;
}
.content form .d-block .form-group label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #0C2A81;
}
.content form .d-block .form-group label.required {
  position: relative;
  display: inline-block;
  padding-right: 0.8em;
}
.content form .d-block .form-group label.required::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "*";
  display: block;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1;
  color: red;
}
.content form .d-block .form-group label .parentheses {
  display: inline-block;
  margin-left: 0.2em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #555;
}
.content form .d-block .form-group .input-group {
  width: fit-content;
}
.content form .d-block .form-group .input-group:has(textarea) {
  width: 100%;
}
.content form .d-block .form-group .input-group .autocomplete-box .aa-Form {
  padding: 0;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0);
}
.content form .d-block .form-group .input-group .autocomplete-box .aa-Form .aa-InputWrapperPrefix {
  display: none;
}
.content form .d-block .form-group .input-group .autocomplete-box .aa-Form .aa-Input {
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
}
.content form .d-block .form-group .input-group .autocomplete-box .aa-Form .aa-Input::placeholder {
  color: #888;
}
.content form .d-block .form-group .input-group .autocomplete-box .aa-Form .aa-InputWrapperSuffix {
  height: 38px;
}
.content form .d-block .form-group .input-group #title {
  width: 500px;
}
@media screen and (max-width: 600px) {
  .content form .d-block .form-group .input-group #title {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .content form .d-block .form-group .input-group #title {
    width: 350px;
  }
}
@media screen and (max-width: 450px) {
  .content form .d-block .form-group .input-group #title {
    width: 80vw;
  }
}
.content form .d-block .form-group .input-group #filename {
  width: 300px;
}
@media screen and (max-width: 450px) {
  .content form .d-block .form-group .input-group #filename {
    width: 60vw;
  }
}
.content form .d-block .form-group .input-group #script {
  width: 100%;
}
.content form .d-block .form-group .input-group #memo {
  width: 100%;
}
.content form .d-block .form-group .file-upload-box {
  display: block;
  width: 300px;
  aspect-ratio: 9/16;
  position: relative;
}
@media screen and (max-width: 600px) {
  .content form .d-block .form-group .file-upload-box {
    width: 250px;
  }
}
@media screen and (max-width: 450px) {
  .content form .d-block .form-group .file-upload-box {
    width: 230px;
  }
}
@media screen and (max-width: 400px) {
  .content form .d-block .form-group .file-upload-box {
    width: 200px;
  }
}
.content form .d-block .form-group .file-upload-box.edit-page {
  width: 800px;
  aspect-ratio: 8/5;
  margin-top: 5px;
  margin-bottom: 0;
  object-fit: contain;
  object-position: left top;
}
@media screen and (max-width: 1100px) {
  .content form .d-block .form-group .file-upload-box.edit-page {
    width: 100%;
  }
}
.content form .d-block .form-group .file-upload-box.edit-page .file-upload-label {
  height: initial;
  border: 0;
  border-radius: 0;
  cursor: initial;
  background-color: initial;
}
.content form .d-block .form-group .file-upload-box.edit-page .file-upload-label .preview-movie {
  object-fit: initial;
}
.content form .d-block .form-group .file-upload-box .file-upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  border: solid 1px #ced4da;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f0f0f0;
}
@media screen and (max-width: 600px) {
  .content form .d-block .form-group .file-upload-box .file-upload-label {
    border-radius: 15px;
  }
}
@media screen and (max-width: 450px) {
  .content form .d-block .form-group .file-upload-box .file-upload-label {
    border-radius: 10px;
  }
}
.content form .d-block .form-group .file-upload-box .file-upload-label:hover .plus-icon {
  opacity: 0.5;
}
.content form .d-block .form-group .file-upload-box .file-upload-label:hover .movie-icon {
  opacity: 0.5;
}
.content form .d-block .form-group .file-upload-box .file-upload-label .plus-icon {
  display: block;
  width: 30px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 600px) {
  .content form .d-block .form-group .file-upload-box .file-upload-label .plus-icon {
    width: 25px;
  }
}
.content form .d-block .form-group .file-upload-box .file-upload-label .preview-movie {
  display: block;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .content form .d-block .form-group .file-upload-box .file-upload-label .preview-movie {
    border-radius: 15px;
  }
}
@media screen and (max-width: 450px) {
  .content form .d-block .form-group .file-upload-box .file-upload-label .preview-movie {
    border-radius: 10px;
  }
}
.content form .d-block .form-group .file-upload-box .file-upload-label input[type=file] {
  display: none;
}
.content form .d-block .form-group .file-upload-box .preview-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}
.content form .d-block .form-group .file-upload-box .preview-close-btn:hover {
  opacity: 0.5;
}
.content form .d-block .form-group .select-box {
  margin-top: 5px;
}
.content form .d-block .form-group .select-box:first-of-type {
  margin-top: 0;
}
.content form .d-block .form-group .select-box select {
  color: #888;
}
.content form .d-block .form-group .select-box select option:first-child {
  color: #888;
}
.content form .d-block .form-group .select-box select option:not(:first-child) {
  color: #495057;
}
.content form .d-block .form-group .select-box select#next_movie_id1 {
  width: 500px;
  flex: initial;
}
@media screen and (max-width: 600px) {
  .content form .d-block .form-group .select-box select#next_movie_id1 {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .content form .d-block .form-group .select-box select#next_movie_id1 {
    width: 350px;
  }
}
@media screen and (max-width: 450px) {
  .content form .d-block .form-group .select-box select#next_movie_id1 {
    width: 80vw;
  }
}
.content form .d-block .form-group .select-box select#next_movie_id2 {
  width: 500px;
  flex: initial;
}
@media screen and (max-width: 600px) {
  .content form .d-block .form-group .select-box select#next_movie_id2 {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .content form .d-block .form-group .select-box select#next_movie_id2 {
    width: 350px;
  }
}
@media screen and (max-width: 450px) {
  .content form .d-block .form-group .select-box select#next_movie_id2 {
    width: 80vw;
  }
}
.content form .d-block .form-group .select-box select#next_movie_id3 {
  width: 500px;
  flex: initial;
}
@media screen and (max-width: 600px) {
  .content form .d-block .form-group .select-box select#next_movie_id3 {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .content form .d-block .form-group .select-box select#next_movie_id3 {
    width: 350px;
  }
}
@media screen and (max-width: 450px) {
  .content form .d-block .form-group .select-box select#next_movie_id3 {
    width: 80vw;
  }
}
.content form .d-block .form-group .radio-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -5px;
}
.content form .d-block .form-group .radio-box .radio-ele {
  display: block;
  margin: 5px 10px 0 0;
}
.content form .d-block .form-group .radio-box .radio-ele:last-of-type {
  margin-right: 0;
}
.content form .d-block .form-group .radio-box .radio-ele input[type=radio] {
  display: none;
}
.content form .d-block .form-group .radio-box .radio-ele input[type=radio]:checked + label {
  border: 1px solid #0C2A81;
  background-color: #0C2A81;
  color: #fff;
}
.content form .d-block .form-group .radio-box .radio-ele label {
  display: block;
  padding: 8px 12px;
  margin: 0;
  border: 1px solid #A8B2BC;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #495057;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.content form .d-block .form-group .toggle-box .toggle-label {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  box-sizing: content-box;
  margin: 0;
  border: solid 2px #ced4da;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.content form .d-block .form-group .toggle-box .toggle-label::after {
  position: absolute;
  top: 50%;
  left: 5px;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ced4da;
  transform: translateY(-50%);
  transition: left 0.2s ease-in-out;
}
.content form .d-block .form-group .toggle-box .toggle-label:has(:checked)::after {
  left: 30px;
  background-color: #4bd865;
}
.content form .d-block .form-group .toggle-box .toggle-label input {
  display: none;
}
.content form .d-block .form-note-box {
  margin-left: 0.2em;
  margin-top: 0.3em;
}
.content form .d-block .form-note-box p {
  display: block;
  margin: 0;
  padding-left: 1.15em;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #777;
  text-indent: -1.15em;
}
.content form .d-block .invalid-feedback {
  margin: 0.5em 0 0 0.3em;
  font-size: 10px;
}
.content form .register-btn {
  padding: 13px 25px;
  margin-top: 20px;
  border: 0;
  background-color: #c71f10;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
}
.content .card .card-header {
  background-color: #0C2A81;
  transition: all 0.5s ease-in-out;
}
.content .card .card-header:hover {
  opacity: 0.5;
}
.content .card .card-header .card-title {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .content .card .card-header .card-title {
    font-size: 14px;
  }
}
.content .card .card-body .file-box {
  display: block;
  width: 300px;
  aspect-ratio: 9/16;
  margin-bottom: 25px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .content .card .card-body .file-box {
    width: 250px;
  }
}
@media screen and (max-width: 450px) {
  .content .card .card-body .file-box {
    width: 230px;
  }
}
@media screen and (max-width: 400px) {
  .content .card .card-body .file-box {
    width: 200px;
  }
}
.content .card .card-body .file-box .preview-movie {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}
@media screen and (max-width: 600px) {
  .content .card .card-body .file-box .preview-movie {
    border-radius: 15px;
  }
}
@media screen and (max-width: 450px) {
  .content .card .card-body .file-box .preview-movie {
    border-radius: 10px;
  }
}
.content .card .card-body > p {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #555;
}
.content .card .card-body > p strong {
  display: inline-block;
  width: fit-content;
  margin-right: 5px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #333;
}
.content .card .card-body > p strong .parentheses {
  display: inline-block;
  width: fit-content;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #555;
}
.content .card .card-body > p .yen {
  display: inline-block;
  width: fit-content;
  margin-left: 5px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #555;
}
.content .card .card-body .next-box {
  display: block;
  width: 100%;
}
.content .card .card-body .next-box .next-ele {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 1em;
  margin-top: 5px;
}
.content .card .card-body .next-box .next-ele .order {
  display: block;
  width: 55px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #555;
}
.content .card .card-body .next-box .next-ele .next-tit {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #555;
}
.content .card .card-body .next-box .next-ele .expired {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.05em;
  color: #555;
}
.content .card .card-body .next-box .next-ele .expired.is-error {
  color: #f00;
}
.content .card .card-body .memmo-box {
  display: block;
  padding: 15px 20px 15px 30px;
  margin-top: 1em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}
@media screen and (max-width: 600px) {
  .content .card .card-body .memmo-box {
    padding: 10px 15px;
  }
}
.content .card .card-body .memmo-box strong {
  display: block;
  width: 100%;
  margin-left: -10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #333;
}
.content .card .card-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content .card .card-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 36px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
}
.content .card .card-footer a:first-of-type {
  font-weight: 400;
  color: #fff;
}
.content .card .card-footer a:first-of-type i {
  display: block;
  margin-right: 8px;
  font-size: 13px;
  transform-origin: center;
  transform: scaleY(0.7);
}
.content .card .card-footer a:last-of-type {
  margin-left: 5px;
  font-weight: 700;
  color: #444;
}
.content .card .card-footer a:last-of-type i {
  display: block;
  margin-right: 5px;
  font-size: 13px;
}

#individual-modal {
  display: block;
  pointer-events: none;
  opacity: 0;
  z-index: 1999;
}
#individual-modal.is-active {
  opacity: 1;
  pointer-events: auto;
}
#individual-modal .md-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.7;
}
#individual-modal .md-contents {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}
@media screen and (max-width: 1000px) {
  #individual-modal .md-contents {
    width: 400px;
  }
}
@media screen and (max-width: 700px) {
  #individual-modal .md-contents {
    width: 350px;
  }
}
@media screen and (max-width: 600px) {
  #individual-modal .md-contents {
    width: 300px;
  }
}
@media screen and (max-width: 450px) {
  #individual-modal .md-contents {
    top: 40%;
    width: 250px;
  }
}
@media screen and (max-width: 400px) {
  #individual-modal .md-contents {
    width: 230px;
  }
}
#individual-modal .md-contents > .md-inner {
  display: block;
  width: 100%;
  position: relative;
}
#individual-modal .md-contents > .md-inner .answer-movie {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#individual-modal .modal-close-btn {
  position: fixed;
  bottom: 30px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  z-index: 4000;
  opacity: 0.7;
  transition: all 1s ease-in-out;
}
#individual-modal .modal-close-btn:hover {
  opacity: 1;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 5px 15px 3px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days .table.table-sm thead tr .prev, .bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days .table.table-sm thead tr .next {
  vertical-align: middle;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days .table.table-sm thead tr .prev span, .bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days .table.table-sm thead tr .next span {
  font-size: 12px;
  color: #777;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days .table.table-sm thead tr .picker-switch {
  font-weight: 700;
  line-height: 1.7;
  color: #555;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days .table.table-sm thead tr .dow {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days .table.table-sm tbody tr td {
  font-size: 12px;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days th.dow:first-child, .bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days td:first-child {
  color: #f00;
}
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days th.dow:last-child, .bootstrap-datetimepicker-widget.dropdown-menu .datepicker-days td:last-child {
  color: #00f;
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch.accordion-toggle .fas.fa-times {
  line-height: 2;
  height: 2em;
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch.accordion-toggle .fas.fa-times::before {
  font-size: 14px;
}