$iroha-25icho-stdn: "iroha-25icho-stdn", sans-serif // 400






@mixin bp1600
	@media screen and (max-width: 1600px)
		@content
@mixin bp1400
	@media screen and (max-width: 1400px)
		@content
@mixin bp1300
	@media screen and (max-width: 1300px)
		@content
@mixin bp1200
	@media screen and (max-width: 1200px)
		@content
@mixin bp1100
	@media screen and (max-width: 1100px)
		@content
@mixin bp1050
	@media screen and (max-width: 1050px)
		@content
@mixin bp1000
	@media screen and (max-width: 1000px)
		@content
@mixin bp950
	@media screen and (max-width: 950px)
		@content
@mixin bp900
	@media screen and (max-width: 900px)
		@content
@mixin bp850
	@media screen and (max-width: 850px)
		@content
@mixin bp800
	@media screen and (max-width: 800px)
		@content
@mixin bp750
	@media screen and (max-width: 750px)
		@content
@mixin bp700
	@media screen and (max-width: 700px)
		@content
@mixin bp600
	@media screen and (max-width: 600px)
		@content
@mixin bp550
	@media screen and (max-width: 550px)
		@content
@mixin bp500
	@media screen and (max-width: 500px)
		@content
@mixin bp450
	@media screen and (max-width: 450px)
		@content
@mixin bp420
	@media screen and (max-width: 420px)
		@content
@mixin bp400
	@media screen and (max-width: 400px)
		@content
@mixin bp380
	@media screen and (max-width: 380px)
		@content



















.progress-box
	display: block
	width: 300px
	padding: 4px
	margin: 0 auto 30px
	border-radius: 30px
	background: rgba(0, 0, 0, 0.1)
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.08)
	+bp900
		padding: 3px
	+bp500
		width: 250px
	+bp450
		width: 220px
		margin: 0 auto 20px
	.progress-bar
		width: 50%
		height: 10px
		border-radius: 30px
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05))
		background-color: #DCB474
		transition: all 0.4s ease-in-out
		transition-property: width, background-color
		+bp500
			height: 8px
		+bp450
			height: 7px
		// +bp1200
		// 	height: 9px
		// +bp900
		// 	height: 8px
		&.step1
			width: calc(100% / 6 * 0)
		&.step2
			width: calc(100% / 6 * 1)
		&.step3
			width: calc(100% / 6 * 2)
		&.step4
			width: calc(100% / 6 * 3)
		&.step5
			width: calc(100% / 6 * 4)
		&.step6
			width: calc(100% / 6 * 5)













.movie-content-box
	display: block
	width: 100%
	height: 100%
	border-radius: 20px
	position: relative
	overflow: hidden
	&.hidden
		+bp500
			.up-btn
				opacity: 1.0
				pointer-events: initial
			.bottom-box
				bottom: -260px
	&::before
		position: absolute
		left: 0
		right: 0
		bottom: 0
		margin: auto
		content: ""
		display: block
		width: 100%
		height: 300px
		border-radius: 20px
		// background: linear-gradient(0deg, rgba(#000, 0.8) 0%, rgba(#000, 0.9) 30%, rgba(#000, 0.0) 100%)
		z-index: 2
		pointer-events: none
		+bp450
			height: 280px
		+bp400
			height: 260px
	.progress-bar-box
		position: absolute
		top: 20px
		left: 0
		right: 0
		margin: auto
		display: flex
		justify-content: center
		align-items: center
		width: calc(100% - 60px)
		height: 6px
		z-index: 10
		.each-bar-box
			display: block
			width: 100%
			height: 100%
			background-color: #fff
			box-shadow: 0 1px 4px #aaa
			border-radius: 3px
			margin-left: 2%
			margin-right: 2%
			position: relative
			&:first-of-type
				margin-left: 0
			&:last-of-type
				margin-right: 0
			&.is-active
				.inside-bar
					background-color: #b92928
					transition: transform 0.1s linear
					will-change: transform
			&.is-active ~ .each-bar-box
				opacity: 0.3
				.inside-bar
					background-color: none
			.inside-bar
				position: absolute
				top: 1.3px
				left: 1px
				width: calc(100% - 2px)
				height: 4px
				border-radius: 2px
				background-color: #fff
				transform-origin: left center
	.close-btn
		position: absolute
		top: 50px
		right: 20px
		display: flex
		justify-content: center
		align-items: center
		width: 40px
		aspect-ratio: 1 / 1
		border-radius: 50%
		background-color: rgba(#fff, 0.4)
		box-shadow: inset 0 1px 2px rgba(#000, 0.4)
		z-index: 10
		.icon
			display: block
			width: 15px
	.volume-btn
		position: absolute
		top: 96px
		right: 20px
		display: flex
		justify-content: center
		align-items: center
		width: 40px
		aspect-ratio: 1 / 1
		border-radius: 50%
		background-color: rgba(#fff, 0.4)
		box-shadow: inset 0 1px 2px rgba(#000, 0.4)
		z-index: 10
		&.is-off .icon:nth-of-type(2)
			opacity: 1.0
		.icon
			display: block
			width: 20px
			transition: all 0.5s ease-in-out
			&:nth-of-type(2)
				opacity: 0.0
	.play-btn
		position: absolute
		top: 0
		right: 0
		display: block
		width: 100%
		height: 100%
		z-index: 3
		.pause-btn
			display: block
			width: 100%
			height: 100%
			position: relative
			.icon
				position: absolute
				top: 50%
				right: 0
				left: 0
				margin: auto
				display: flex
				justify-content: center
				align-items: center
				width: 80px
				aspect-ratio: 1 / 1
				border-radius: 50%
				box-shadow: inset 0 1px 2px rgba(#000, 0.3)
				transform: translateY(-50%)
				opacity: 0.7
				// +bp450
				// 	top: 30%
	.completed-btn
		position: absolute
		top: 0
		right: 0
		display: block
		width: 100%
		height: 100%
		z-index: 1
		.icon
			position: absolute
			top: 50%
			right: 0
			left: 0
			margin: auto
			display: flex
			justify-content: center
			align-items: center
			width: 80px
			aspect-ratio: 1 / 1
			border-radius: 50%
			box-shadow: inset 0 1px 2px rgba(#000, 0.3)
			transform: translateY(-50%)
			opacity: 0.7
	.play-movie
		display: block
		width: 100%
		height: 100%
		border-radius: 20px
		overflow: hidden
		> video
			display: block
			width: 100%
			height: 100%
			object-fit: cover
			object-position: top center
			overflow: hidden
	.bottom-box
		position: absolute
		left: 0
		bottom: 0
		display: flex
		justify-content: flex-start
		align-items: center
		flex-direction: column
		width: 100%
		padding: 20px 30px
		transition: bottom 0.3s ease-in-out
		z-index: 3
		+bp400
			padding: 20px 30px 15px
		.next-btn
			display: flex
			justify-content: center
			align-items: center
			width: calc(100% - 30px)
			height: 42px
			margin-top: 0
			border-radius: 25px
			background-color: #006134
			box-shadow: 0 3px 0 #007F44
			border: none
			outline: none
			&.four-links
				margin-top: 7px
			&.four-links:nth-of-type(1)
				margin-top: 0
			&.is-play
				margin-bottom: 10px
				background-color: #555
				box-shadow: 0 3px 0 #666
			&:nth-of-type(1)
				+bp500
					span
						@for $i from 1 through 11
							&:nth-of-type(#{$i})
								animation: leftRight 5.0s #{($i - 1) * 0.03}s ease-in-out infinite
					&.is-play
						margin-bottom: 10px
						background-color: #555
						box-shadow: 0 3px 0 #666
						span
							animation: initial
			&:nth-of-type(2)
				+bp500
					span
						@for $i from 1 through 11
							&:nth-of-type(#{$i})
								animation: leftRight 5.0s #{($i - 1) * 0.03 + 1.2}s ease-in-out infinite
					&.is-play
						margin-bottom: 10px
						background-color: #555
						box-shadow: 0 3px 0 #666
						span
							animation: initial
			+bp400
				min-width: 225px
			&:hover
				@for $i from 1 through 11
					span:nth-of-type(#{$i})
						animation: txt-rotate 1s #{($i - 1) * 0.05}s ease-in-out forwards
				+bp500
					span
						animation: initial !important
			&:focus
				outline: none
			> p
				display: flex
				justify-content: center
				align-items: center
				width: fit-content
				margin: 0
				> span
					display: block
					width: 100%
					font-weight: 400
					font-size: 16px
					line-height: 1.5
					font-family: $iroha-25icho-stdn
					letter-spacing: 0.05em
					text-align: center
					color: #fff
		.link-btn
			display: flex
			justify-content: center
			align-items: center
			width: calc(100% - 30px)
			height: 50px
			margin-top: 7px
			border-radius: 25px
			background-color: #b92928
			box-shadow: 0 3px 0 #D54242
			cursor: none
			&:nth-of-type(1)
				// margin-top: 0
				+bp500
					span
						@for $i from 1 through 7
							&:nth-of-type(#{$i})
								animation: leftRight 5.0s #{($i - 1) * 0.03 + 2.4}s ease-in-out infinite
			&:nth-of-type(2)
				+bp500
					span
						@for $i from 1 through 6
							&:nth-of-type(#{$i})
								animation: leftRight 5.0s #{($i - 1) * 0.03 + 3.6}s ease-in-out infinite
			// &:nth-of-type(3)
			// 	+bp500
			// 		span
			// 			@for $i from 1 through 4
			// 				&:nth-of-type(#{$i})
			// 					animation: leftRight 5.0s #{($i - 1) * 0.03 + 3.0}s ease-in-out infinite
			+bp420
				height: 48px
				border-radius: 24px
			+bp400
				min-width: 225px
				height: 46px
				border-radius: 23px
			&:hover
				@for $i from 1 through 7
					span:nth-of-type(#{$i})
						animation: txt-rotate 1s #{($i - 1) * 0.05}s ease-in-out forwards
				+bp500
					span
						animation: initial !important
			> p
				display: flex
				justify-content: center
				align-items: center
				width: fit-content
				margin: 0
				> span
					display: block
					width: 100%
					font-weight: 400
					font-size: 16px
					line-height: 1.5
					font-family: $iroha-25icho-stdn
					letter-spacing: 0.05em
					text-align: center
					color: #fff
@keyframes txt-rotate
	0%
		opacity: 1.0
	40%
		opacity: 0.0
	60%
		opacity: 0.0
	100%
		opacity: 1.0
@keyframes leftRight
	0%
		color: #fff
		transform: translate(0) scale(1.0)
		opacity: 1.0
	9%
		color: #f8bebc
		transform: translate(20px, 0) scale(0.7)
		opacity: 1.0
	12%
		color: #FFBE53
	15%
		transform: translate(0) scale(1.8)
		opacity: 0.0
	18%,100%
		color: #fff
		transform: translate(0) scale(1.0)
		opacity: 1.0