.progress-box {
  display: block;
  width: 300px;
  padding: 4px;
  margin: 0 auto 30px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.08);
}
@media screen and (max-width: 900px) {
  .progress-box {
    padding: 3px;
  }
}
@media screen and (max-width: 500px) {
  .progress-box {
    width: 250px;
  }
}
@media screen and (max-width: 450px) {
  .progress-box {
    width: 220px;
    margin: 0 auto 20px;
  }
}
.progress-box .progress-bar {
  width: 50%;
  height: 10px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-color: #DCB474;
  transition: all 0.4s ease-in-out;
  transition-property: width, background-color;
}
@media screen and (max-width: 500px) {
  .progress-box .progress-bar {
    height: 8px;
  }
}
@media screen and (max-width: 450px) {
  .progress-box .progress-bar {
    height: 7px;
  }
}
.progress-box .progress-bar.step1 {
  width: 0%;
}
.progress-box .progress-bar.step2 {
  width: 16.6666666667%;
}
.progress-box .progress-bar.step3 {
  width: 33.3333333333%;
}
.progress-box .progress-bar.step4 {
  width: 50%;
}
.progress-box .progress-bar.step5 {
  width: 66.6666666667%;
}
.progress-box .progress-bar.step6 {
  width: 83.3333333333%;
}

.broadcast-content-box {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .broadcast-content-box {
    border-radius: 10px;
  }
}
@media screen and (max-width: 450px) {
  .broadcast-content-box {
    border-radius: 5px;
  }
}
@media screen and (max-width: 500px) {
  .broadcast-content-box.hidden .up-btn {
    opacity: 1;
    pointer-events: initial;
  }
  .broadcast-content-box.hidden .bottom-box {
    bottom: -260px;
  }
}
.broadcast-content-box.fullscreen {
  transform: rotate(90deg);
  width: 80vh;
  aspect-ratio: 16/9;
  transition: all 0.5s ease-in-out;
}
.broadcast-content-box::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  z-index: 2;
  pointer-events: none;
}
@media screen and (max-width: 1000px) {
  .broadcast-content-box::before {
    border-radius: 10px;
  }
}
@media screen and (max-width: 450px) {
  .broadcast-content-box::before {
    height: 280px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 400px) {
  .broadcast-content-box::before {
    height: 260px;
  }
}
.broadcast-content-box .progress-bar-box {
  position: absolute;
  top: 3%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
  height: 46px;
  padding: 20px 0;
  z-index: 10;
}
@media screen and (max-width: 700px) {
  .broadcast-content-box .progress-bar-box {
    top: 2%;
  }
}
@media screen and (max-width: 450px) {
  .broadcast-content-box .progress-bar-box {
    top: 7px;
    height: 24px;
    padding: 10px 0;
  }
}
@media screen and (max-width: 400px) {
  .broadcast-content-box .progress-bar-box {
    top: 5px;
  }
}
.broadcast-content-box .progress-bar-box .each-bar-box {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 1px 4px #aaa;
  border-radius: 3px;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
}
@media screen and (max-width: 450px) {
  .broadcast-content-box .progress-bar-box .each-bar-box {
    box-shadow: 0 1px 3px #aaa;
    border-radius: 2px;
  }
}
.broadcast-content-box .progress-bar-box .each-bar-box:first-of-type {
  margin-left: 0;
}
.broadcast-content-box .progress-bar-box .each-bar-box:last-of-type {
  margin-right: 0;
}
.broadcast-content-box .progress-bar-box .each-bar-box.is-active .inside-bar {
  background-color: #b92928;
  transition: transform 0.1s linear;
  will-change: transform;
}
.broadcast-content-box .progress-bar-box .each-bar-box.is-active ~ .each-bar-box {
  opacity: 0.3;
}
.broadcast-content-box .progress-bar-box .each-bar-box.is-active ~ .each-bar-box .inside-bar {
  background-color: none;
}
.broadcast-content-box .progress-bar-box .each-bar-box .inside-bar {
  position: absolute;
  top: 1.3px;
  left: 1px;
  width: calc(100% - 2px);
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  transform-origin: left center;
}
@media screen and (max-width: 450px) {
  .broadcast-content-box .progress-bar-box .each-bar-box .inside-bar {
    top: 0.8px;
    height: 3px;
    border-radius: 1.5px;
  }
}
.broadcast-content-box .close-btn {
  position: absolute;
  top: 32%;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
@media screen and (max-width: 1000px) {
  .broadcast-content-box .close-btn {
    width: 36px;
  }
}
@media screen and (max-width: 450px) {
  .broadcast-content-box .close-btn {
    right: 10px;
    width: 30px;
  }
}
.broadcast-content-box .close-btn .icon {
  display: block;
  width: 37.5%;
}
.broadcast-content-box .volume-btn {
  position: absolute;
  top: calc(32% + 45px);
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
@media screen and (max-width: 1000px) {
  .broadcast-content-box .volume-btn {
    width: 36px;
    top: calc(32% + 40px);
  }
}
@media screen and (max-width: 450px) {
  .broadcast-content-box .volume-btn {
    top: calc(32% + 35px);
    right: 10px;
    width: 30px;
  }
}
.broadcast-content-box .volume-btn.is-off .icon:nth-of-type(2) {
  opacity: 1;
}
.broadcast-content-box .volume-btn .icon {
  display: block;
  width: 50%;
  transition: all 0.5s ease-in-out;
}
.broadcast-content-box .volume-btn .icon:nth-of-type(2) {
  opacity: 0;
}
.broadcast-content-box .size-btn {
  position: absolute;
  top: 32%;
  right: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 10;
  pointer-events: none;
}
@media screen and (max-width: 1000px) {
  .broadcast-content-box .size-btn {
    right: 63px;
    width: 36px;
  }
}
@media screen and (max-width: 800px) {
  .broadcast-content-box .size-btn {
    right: 60px;
  }
}
@media screen and (max-width: 700px) {
  .broadcast-content-box .size-btn {
    right: 63px;
  }
}
@media screen and (max-width: 450px) {
  .broadcast-content-box .size-btn {
    right: 45px;
    width: 30px;
    opacity: 1;
    pointer-events: initial;
  }
}
@media screen and (max-width: 400px) {
  .broadcast-content-box .size-btn {
    right: 46px;
  }
}
.broadcast-content-box .size-btn .icon {
  display: block;
  width: 50%;
  transition: all 0.5s ease-in-out;
}
.broadcast-content-box .size-btn .icon:nth-of-type(2) {
  opacity: 0;
}
.broadcast-content-box .play-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.broadcast-content-box .play-btn .pause-btn {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.broadcast-content-box .play-btn .pause-btn .icon {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
  opacity: 0.7;
}
@media screen and (max-width: 700px) {
  .broadcast-content-box .play-btn .pause-btn .icon {
    width: 70px;
  }
}
@media screen and (max-width: 600px) {
  .broadcast-content-box .play-btn .pause-btn .icon {
    width: 64px;
  }
}
@media screen and (max-width: 450px) {
  .broadcast-content-box .play-btn .pause-btn .icon {
    width: 60px;
  }
}
@media screen and (max-width: 400px) {
  .broadcast-content-box .play-btn .pause-btn .icon {
    width: 50px;
  }
}
.broadcast-content-box .logo-white {
  position: absolute;
  top: 32%;
  right: 30px;
  display: block;
  width: 160px;
  z-index: 3;
  opacity: 0.6;
}
@media screen and (max-width: 1200px) {
  .broadcast-content-box .logo-white {
    width: 130px;
  }
}
@media screen and (max-width: 700px) {
  .broadcast-content-box .logo-white {
    width: 110px;
  }
}
@media screen and (max-width: 600px) {
  .broadcast-content-box .logo-white {
    width: 90px;
  }
}
@media screen and (max-width: 450px) {
  .broadcast-content-box .logo-white {
    top: 33%;
    width: 70px;
  }
}
@media screen and (max-width: 400px) {
  .broadcast-content-box .logo-white {
    width: 60px;
  }
}
.broadcast-content-box .completed-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.broadcast-content-box .completed-btn .icon {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
  opacity: 0.7;
}
@media screen and (max-width: 700px) {
  .broadcast-content-box .completed-btn .icon {
    width: 70px;
  }
}
@media screen and (max-width: 600px) {
  .broadcast-content-box .completed-btn .icon {
    width: 64px;
  }
}
@media screen and (max-width: 450px) {
  .broadcast-content-box .completed-btn .icon {
    width: 60px;
  }
}
@media screen and (max-width: 400px) {
  .broadcast-content-box .completed-btn .icon {
    width: 50px;
  }
}
.broadcast-content-box .play-movie {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .broadcast-content-box .play-movie {
    border-radius: 10px;
  }
}
@media screen and (max-width: 450px) {
  .broadcast-content-box .play-movie {
    border-radius: 5px;
  }
}
.broadcast-content-box .play-movie > video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  overflow: hidden;
}